/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lato');
 @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Source+Sans+Pro');
body {
  padding-top: 100px;
  font-family: 'Roboto Condensed', sans-serif;
}

#logo {
  font-size: 200%;
  clear: left;
  float: left;
}

.navbar-nav {
  font-size: 120%;
  bottom: 0;
  font-family: 'Indie Flower', cursive;
}

.newsfeed {
  margin: auto;
  border-style: solid;
  margin-bottom: 20px;
  border-width: 0px;
  max-width: 550px;
  position: relative;
}

.edit_and_delete_posts {
    position:absolute;
    top: 0;
    right: 0;
    padding-top: 5px;
    padding-right: 5px;
}

#comment {
  color: dodgerblue
}

.div-inline {
  position: relative;
  display:inline-block;
  vertical-align: middle;
}

.profile_pic {
  float: left;
  margin-right: 10px;
}

.add-friend > * {
  display: inline-block;
}

/*=====================
		Profile page styles
=======================
*/

.user-details-container {
	width: 80%;
	margin: 0 auto;
}

.user-profile-image-container {
	display:inline-block;
	vertical-align: top;
}

.user-details {
	display: inline-block;
}

.user-friend-container > * {
	display: block;
}

.user-friend-container .user-profile-image {
	min-width: 50px;
	min-height: 50px;
}


.profile_main, .profile-feed, .extras-div {
  margin-top: 20px;
}

.profile_feed {

}

.test {
  background-color: grey;
  height: 500px;
}
/*=====================
		Sign in page styles
=======================
*/

#sign-in-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#sign-in-links li { float: left }

#sign-in-links li a {
	display: inlinne-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
}

#sign-in-links li a:focus, .active {background-color: #ccc;}

.tab-content {
	display: none;
	padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/*======================
  friend requests styles
======================*/

#friend-requests-link {
}

#friend-requests-container {
  position: absolute;
  top: calc(100% + 1px);
  right: 0;
  white-space: nowrap;
  background: #f0f0f0;
  padding: 15px;
  border: 1px solid #d3d3d3;
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 1px 2px 6px #0f0f0f;
}



.friend-request-details img, .user-full-name, .friend-request-button {
  display: inline-block;
}