/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lato');
 @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Source+Sans+Pro');
body {
  padding-top: 100px;
  font-family: 'Roboto Condensed', sans-serif;
}

#logo {
  font-size: 200%;
  clear: left;
  float: left;
}

.navbar-nav {
  font-size: 120%;
  bottom: 0;
  font-family: 'Indie Flower', cursive;
}

.newsfeed {
  margin: auto;
  border-style: solid;
  margin-bottom: 20px;
  border-width: 0px;
  max-height: 400px;
  max-width: 550px;
  position: relative;
}

.edit_and_delete_posts {
    position:absolute;
    top: 0;
    right: 0;
    padding-top: 5px;
    padding-right: 5px;
}

#comment {
  color: dodgerblue
}

.div-inline {
  position: relative;
  display:inline-block;
  vertical-align: middle;
}

.profile_pic {
  float: left;
  margin-right: 10px;
}

/*=====================
		Profile page styles
=======================
*/

.user-details-container {
	width: 80%;
	margin: 0 auto;
}

.user-profile-image-container {
	display:inline-block;
	vertical-align: top;
}

.user-details {
	display: inline-block;
}

.user-friend-container > * {
	display: block;
}

.user-friend-container .user-profile-image {
	min-width: 50px;
	min-height: 50px;
}
/*=====================
		Sign in page styles
=======================
*/

#sign-in-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#sign-in-links li { float: left }

#sign-in-links li a {
	display: inlinne-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
}

#sign-in-links li a:focus, .active {background-color: #ccc;}

.tab-content {
	display: none;
	padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/*================
  adverts styles
================*/

#canvas-wrap {
  position: relative;
  width: 607px;
  height: 457px;
}

#canvas {
  width: 100%;
  height: 100%;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

#canvas {
  background-image: url('practice_image.jpg');
  background-size: cover;
}

.new-ad {
  border: 1px solid #fff;
  position: absolute;
}

#product-search-input {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-width: 200px;
  margin-top: 15px;
  z-index: 10;
}

#suggested-products {
  background: #f0f0f0;
  position: absolute;
  top: calc(100% + 50px);
  min-width: 200px;
  max-width: 350px;
  min-height: 200px;
}


.suggested-product-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 15px;
  box-shadow: 1px 2px 6px #0f0f0f;
}

.suggested-product-container img {
  width: 100px;
  height: 100px;
}
