/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Indie+Flower|Lato');
body {
  padding-top: 100px;
  font-family: 'Lato', sans-serif;
  font-family: 'Indie Flower', cursive;
}

#logo {
  font-size: 200%;
  clear: left;
  float: left;
}

.navbar-nav {
  font-size: 120%;
  bottom: 0;
}

/*=====================
		Profile page styles
=======================
*/

.user-details-container {
	width: 80%;
	margin: 0 auto;
}

.user-profile-image-container {
	display:inline-block;
	vertical-align: top;
}

.user-details {
	display: inline-block;
}

.user-friend-container > * {
	display: block;
}

.user-friend-container .user-profile-image {
	min-width: 50px;
	min-height: 50px;
}
